.table-responsive > .form-inline {
    display: block !important;
}
@media (min-width: 576px){
.form-inline label {
    display:contents !important;
}}
#table_paginate > .pagination{
    display: inline-block !important;
}
td > label {
    color:#fff !important;
}
td > form {
    display: inline;
}
table > tbody > tr {
    text-align: center;
}